body{
    background-color: rgb(35, 49, 113);
}
h1{
    color:antiquewhite;
}
nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:antiquewhite;
    margin-left: 150px;
}
form{
    padding: 50px;
    box-shadow: 2px 2px 5px rgb(122, 198, 255);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

label{
    color:antiquewhite;
    font-size: 12px;
    margin-bottom: 15px;
}
.logo {
    font-size: 10px;
}
.inicio{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:antiquewhite;
    margin-left: 20px;
}
